/* style.css */

/* Resetování a základní styly */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 0.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Horní panel */
header {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

header h1 {
    float: left 50%;
    text-align: left;
}

header nav ul {
    float: right;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

  
iframe {
    display: block; 
    margin: 0 auto; 
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}