main{
    height: 88vh;
}

.images img{
display: flex;
margin: 60px;
width: 500px;
height: 400px;
}

.images{
    display: flex;
}
.p{
    color: black;
    text-align: center;
    font-size: 100px;
    font-style: italic;

}